.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    display: inline-block;
}

.admin-layout__body {
    display: flex;
}

.layout-main-container{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}   

.admin-layout__body-sidebar {
    padding-top: 20px;
    
}

.scrollable-container {
    max-height: 300px; /* Adjust the height as per your requirement */
    overflow-y: auto;
  }