<p-table [value]="customers" class="table-width" [lazy]="true" (onLazyLoad)="loadLazy($event)" [paginator]="true"
    [rows]="rows" [totalRecords]="totalRecords"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <div>
                <p>Customer Management</p>
            </div>
            <div class="flex">
                <p-button label="Create" icon="pi pi-plus" (onClick)="createShow()"></p-button>
                <div class="p-inputgroup" style="width: 300px; margin-left: 10px;">
                    <input type="text" pInputText placeholder="Search" />
                    <button pButton type="button" icon="pi pi-search" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="customerId">ID<p-sortIcon field="customerId"></p-sortIcon></th>
            <th pSortableColumn="fullName">FullName<p-sortIcon field="fullName"></p-sortIcon>
            </th>
            <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phone">Phone<p-sortIcon field="phone"></p-sortIcon></th>
            <th pSortableColumn="createdDate">Created Date<p-sortIcon field="createdDate"></p-sortIcon>
            <th pSortableColumn="lastLogin">Last Login<p-sortIcon field="lastLogin"></p-sortIcon>
            <th pSortableColumn="active">Active<p-sortIcon field="active"></p-sortIcon>
            </th>
            <th>#</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.customerId}}</td>
            <td>{{customer.fullName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.createdDate}}</td>
            <td>{{customer.lastLogin}}</td>
            <td>{{customer.active}}</td>
            <td>
                <div class="button-action">
                    <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-warning mr-3"
                        (click)="updateShow(customer)"></p-button>
                    <p-button label="Remove" icon="pi pi-trash" styleClass="p-button-danger"
                        (click)="deleteShow(customer)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Customer delete" [(visible)]="visibleDeleteDialog" [modal]="true" [style]="{ width: '30vw' }">
    <p>Are you sure delete <span style="color: red;">"{{selectedCustomer?.email}}"</span> customer?</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" label="YES" (click)="deleteProduct(selectedCustomer)"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" label="NO" (click)="visibleDeleteDialog = false; selectedCustomer = undefined"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>