<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://www.pngfind.com/pngs/m/29-290389_e-commerce-website-logo-png-download-e-commerce.png"
            height="40" class="mr-2 pr-7" />
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex">
            <span class="p-input-icon-left  mr-5">
                <i class="pi pi-search"></i>
                <input type="text" pInputText class="md:w-10rem lg:w-30rem" placeholder="search..." />
            </span>
            <div class="flex flex-wrap card-container blue-container gap-3 mr-5">
                <p-menu #userMenu [model]="loggedIn ? userMenuItemsLoggedIn : userMenuItems" [popup]="true"></p-menu>
                <p-button icon="pi pi-bell" styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
                <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info p-button-outlined"
                    (click)="userMenu.toggle($event)"></p-button>
                <p-button icon="pi pi-shopping-cart"
                    styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
            </div>
        </div>
    </ng-template>
</p-menubar>
<!-- 
<div
    class="surface-overlay px-3 sm:px-6 flex flex-wrap align-items-stretch justify-content-between relative lg:border-bottom-1 surface-border">
    <a pripple="" pstyleclass="#nav-2" enterclass="hidden" leavetoclass="hidden"
        class="p-ripple p-element cursor-pointer flex align-items-center lg:hidden text-700 mr-3"><i
            class="pi pi-bars text-4xl"></i><span class="p-ink"></span></a>
    <div id="nav-2"
        class="surface-overlay hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3 lg:py-0">
        <ul class="list-none p-0 m-0 flex flex-column lg:flex-row">
            <li class="flex flex-column lg:flex-row"><a pripple="" pstyleclass="@next" enterclass="hidden"
                    leavetoclass="hidden"
                    class="p-ripple p-element font-medium inline-flex align-items-center cursor-pointer border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base lg:font-base w-full lg:w-auto"><span>Women</span><span
                        class="p-ink" style="height: 89px; width: 89px; top: -0.515442px; left: 1.5px;"></span></a>
                <div
                    class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-6 hidden">
                    <div class="grid flex-wrap">
                        <div class="col-12 md:col-6 xl:col-3"><a pstyleclass="@next" enterclass="hidden"
                                leavetoclass="hidden"
                                class="p-element font-medium text-lg cursor-pointer text-700 block lg:hidden mb-3 select-none">Clothing</a>
                            <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                                <li class="hidden lg:block"><img
                                        src="assets/images/blocks/ecommerce/storenavigation/storenavigation-2-1.png"
                                        alt="Image" height="160" style="border-radius: 12px;"></li>
                                <li class="font-bold my-5 text-xl text-900 hidden lg:block">Clothing</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Dresses</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Jeans</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Pants</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Skirts</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Sweaters</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Blouses</li>
                            </ul>
                        </div>
                        <div class="col-12 md:col-6 xl:col-3"><a pstyleclass="@next" enterclass="hidden"
                                leavetoclass="hidden"
                                class="p-element font-medium text-lg cursor-pointer text-700 block lg:hidden mb-3 select-none">Shoes</a>
                            <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                                <li class="hidden lg:block"><img
                                        src="assets/images/blocks/ecommerce/storenavigation/storenavigation-2-2.png"
                                        alt="Image" height="160" style="border-radius: 12px;"></li>
                                <li class="font-bold my-5 text-xl text-900 hidden lg:block">Shoes</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Athletic</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Boots</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Sneakers</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Flats</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Outdoor</li>
                            </ul>
                        </div>
                        <div class="col-12 md:col-6 xl:col-3"><a pstyleclass="@next" enterclass="hidden"
                                leavetoclass="hidden"
                                class="p-element font-medium text-lg cursor-pointer text-700 block lg:hidden mb-3 select-none">Accessories</a>
                            <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                                <li class="hidden lg:block"><img
                                        src="assets/images/blocks/ecommerce/storenavigation/storenavigation-2-3.png"
                                        alt="Image" height="160" style="border-radius: 12px;"></li>
                                <li class="font-bold my-5 text-xl text-900 hidden lg:block">Accessories</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Handbags</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Gloves</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Belts</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Hats</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Earmuffs</li>
                            </ul>
                        </div>
                        <div class="col-12 md:col-6 xl:col-3"><a pstyleclass="@next" enterclass="hidden"
                                leavetoclass="hidden"
                                class="p-element font-medium text-lg cursor-pointer text-700 block lg:hidden mb-3 select-none">Beauty</a>
                            <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                                <li class="hidden lg:block"><img
                                        src="assets/images/blocks/ecommerce/storenavigation/storenavigation-2-4.png"
                                        alt="Image" height="160" style="border-radius: 12px;"></li>
                                <li class="font-bold my-5 text-xl text-900 hidden lg:block">Beauty</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Anklets</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Bracelets</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Earrings</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Necklaces</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Rings</li>
                                <li class="mb-3 cursor-pointer hover:text-900">Wedding</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="flex flex-column lg:flex-row"><a pripple="" pstyleclass="@next" enterclass="hidden"
                    leavetoclass="hidden"
                    class="p-ripple p-element font-medium inline-flex align-items-center cursor-pointer border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base lg:font-base w-full lg:w-auto"><span>Men</span><span
                        class="p-ink" style="height: 72px; width: 72px; top: -11.0154px; left: 4.39062px;"></span></a>
                <div
                    class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-1 hidden">
                    <div class="border-2 border-dashed surface-border border-round h-full"></div>
                </div>
            </li>
            <li class="flex flex-column lg:flex-row"><a pripple="" pstyleclass="@next" enterclass="hidden"
                    leavetoclass="hidden"
                    class="p-ripple p-element font-medium inline-flex align-items-center cursor-pointer border-left-2 lg:border-left-none lg:border-bottom-2 border-transparent hover:border-primary py-3 lg:py-0 px-6 lg:px-3 text-700 select-none text-xl lg:text-base lg:font-base w-full lg:w-auto"><span>Kids</span><span
                        class="p-ink" style="height: 72px; width: 72px; top: 7.98456px; left: -4.23438px;"></span></a>
                <div
                    class="surface-overlay shadow-none lg:shadow-2 lg:absolute w-full left-0 top-100 px-6 py-0 lg:py-6 h-10rem lg:h-30rem z-1 hidden">
                    <div class="border-2 border-dashed surface-border border-round h-full"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="flex align-items-center justify-content-center py-3"><img
            src="assets/images/blocks/logos/hyper-text-indigo.svg" alt="Image" height="40"></div>
    <div class="lg:flex w-full lg:w-auto hidden py-3 lg:py-0">
        <ul class="list-none p-0 m-0 flex w-full" style="min-height: 30px;">
            <li class="flex flex-auto lg:flex-initial justify-content-center"><a pripple=""
                    class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer lg:pr-3 hover:text-primary"><i
                        class="pi pi-search text-xl"></i><span class="hidden">Search</span><span
                        class="p-ink"></span></a></li>
            <li class="flex flex-auto lg:flex-initial justify-content-center"><a pripple=""
                    class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer lg:px-3 hover:text-primary"><i
                        class="pi pi-heart text-xl"></i><span class="hidden">Favorites</span><span
                        class="p-ink"></span></a></li>
            <li class="flex flex-auto lg:flex-initial justify-content-center"><a pripple=""
                    class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer lg:px-3 hover:text-primary"><i
                        class="pi pi-user text-xl"></i><span class="hidden">Sign In</span><span
                        class="p-ink"></span></a></li>
            <li class="flex flex-auto lg:flex-initial justify-content-center"><a pripple=""
                    class="p-ripple p-element text-900 font-medium inline-flex align-items-center cursor-pointer lg:pl-3 pr-3 hover:text-primary"><i
                        pbadge="" class="p-element pi pi-shopping-cart text-xl p-overlay-badge"><span
                            id="pr_id_24_badge" class="p-badge p-component p-badge-dot"></span></i><span
                        class="hidden">Cart</span><span class="p-ink"></span></a></li>
        </ul>
    </div>
</div> -->